/* Set a nice font and margin for the whole page */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

/* Set a background color for the page */
body {
  background-color: #f7f7f7;
}

/* Style the main content area */
main {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.05);
  padding: 20px;
}



/* Style headings */
h1, h2, h3 {
  font-weight: bold;
  color: #333;
  margin: 10px;
  text-align:center;
}

.chart-holder {
  width: 40%;
}

.container {
  display: flex;
  justify-content: center;
  gap: 10px;
  gap: 10px 50px; /* row-gap column gap */
  row-gap: 10px;
  column-gap: 100px;
}